@use "../../global" as *;
@use "../../partials" as *;

.cardservice {
  background: $cardservicebg;
  @include border(solid, 1, $inputborder);
  @include radius(16);
  @include flex-center-column;
  gap: size(24);
  overflow: hidden;
  padding: size(40) size(24) size(48);
  text-align: center;

  &-icon {
    @include square(40);
    @include flex-center;
    overflow: hidden;
  }

  &-body {
    .servicetitle {
      color: $neutral-950;
      font-size: size(17);
      font-weight: 600;
      line-height: 1;

      @include breakpoint(desktop1400) {
        font-size: size(21);
      }
    }
  }
}

.devservicecard {
  border-radius: var(--Corner-Extra-large, 28px);
  background: #bdeb90;
  @include flex-column;
  gap: size(20);
  align-items: flex-start;
  padding: size(24);
  @include breakpoint(mobile576) {
    padding: size(32);
    gap: size(40);
  }
  .serviceicon {
    @include square(40);
    @include breakpoint(mobile576) {
      @include square(56);
    }
    img {
      @include wh100;
    }
  }
  &-bottom {
    @include flex-column;
    gap: size(8);
    @include breakpoint(mobile576) {
      gap: size(16);
    }
    .title {
      color: var(--Gray-900, #061c3d);

      /* Heading/05 */
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 36px; /* 125% */
      letter-spacing: -0.64px;
      @include breakpoint(mobile576) {
        font-size: 32px;
        line-height: 40px; /* 125% */
      }
    }
    .des {
      color: var(--Gray-700, #42526b);
      /* Body/Medium/400 */
      font-family: Inter;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px; /* 150% */
      @include breakpoint(mobile576) {
        font-size: 16px;
        line-height: 24px; /* 150% */
      }
    }
    ul {
      @include list-vertical;
      gap: size(8);
      @include breakpoint(mobile576) {
        gap: size(16);
      }
      li {
        @include flex;
        gap: size(8);
        color: var(--Gray-900, #061c3d);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px; /* 144.444% */
        align-items: flex-start;
        @include breakpoint(mobile576) {
          font-size: 18px;
          line-height: 26px; /* 144.444% */
        }
      }
    }
  }
}

.moveforward-card {
  @include flex-column;
  gap: size(10);
  align-items: flex-start;
  padding-right: size(10);
  align-items: center;
  text-align: center;
  padding-block: 20px;
  @include breakpoint(mobile576) {
    align-items: flex-start;
    text-align: left;
  }
  .icon {
  }
  .title {
    margin-top: size(6);
    color: var(--Base-Black, #1c1c1c);

    /* Display xs/Semibold */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
    
  }
  .des {
    color: var(--Gray-700, #344054);

    /* Text md/Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
  @include transitiontransform;
  @include hover {
    transform: translateY(-2px);
  }
}
