@use "../global" as *;
@use "../partials" as *;

.brandlogo {
  width: size(150);
  height: size(37);
  @include flex-center;
  overflow: hidden;

  @include breakpoint(mobile768) {
    width: size(212);
  }

  img {
    object-fit: contain;
  }
}

.footerlogo {
  width: size(212);
  height: size(37);
  @include flex-center;
  overflow: hidden;

  img {
    object-fit: contain;
  }
}

.feedbacklink {
  color: $white;
  @include border-single(bottom, solid, 1.5, $white);
  font-size: size(16);
  font-weight: 700;
  line-height: 1.75;
  @include transitionsall;

  @include hover {
    border-color: $blue-green-100;
    color: $blue-green-100;
  }
}

.parallax {
  position: relative;
  @include translateY(size(48));
  opacity: 1;
  transition: 1s all ease;

  &.active {
    @include translateY(0);
    opacity: 1;
  }
}

.heading-02 {
  color: var(--Gray-900, #061c3d);
  /* Heading/02 */
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px; /* 116.667% */
  letter-spacing: -0.96px;
  @include breakpoint(mobile576) {
    font-size: 42px;
    line-height: 48px;
  }
  @include breakpoint(tab992) {
    font-size: 48px;
    line-height: 56px;
  }
}

.heading-06 {
  color: var(--Gray-900, #061c3d);

  /* Heading/06 */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.48px;
}
